{% extends 'catalog/new_core/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block header_tag %}
    Product

{% endblock header_tag %}
{% block head_title %}
    Product
{% endblock head_title %}
{% block active_menu %}
    All Products
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{% trans 'Listing your products' %}</h3>
            </div>
            <div class="card-body">
                <h3>List of Products</h3>
                <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                       aria-describedby="example2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                            Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending">SKU
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending">Quantity
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="Engine version: activate to sort column ascending">Price
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                            aria-label="CSS grade: activate to sort column ascending">View More
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                {% for obj in object_list %}
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">{{ obj.name }}</td>
                        <td>{{ obj.sku }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.quantity }}</td>
                        <td><a style="color: deepskyblue" href="{% url 'catalog:product_detail' obj.slug %}" role="button">View {{ obj.name }}</a></td>
                    </tr>
                {% endfor %}

                </table>
            </div>


        </div>
    </div>


{% endblock content %}
